body {
  background: #d9d9d9;
  font-family: "Reem Kufi", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 30px;
  line-height: 20px;
  text-align: left;
  color: #b7c2dc;
  padding-left: 10px;
}

h2 {
  font-family: "Reem Kufi";
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  padding-top: 20px;
  padding-left: 12px;

  color: #b7c2dc;
}

h3 {
  font-family: "Reem Kufi";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 10px;
  text-align: left;
  color: #eadf4d;
  padding-left: 10px;
}

h4 {
  font-size: 20px;
  text-align: center;
  color: #333563;
  margin-bottom: 2px;
}



h5 {
  font-size: 20px;
  color: #333563;
  margin-left: 8%;
  margin-top: 10%;
}

h6 {
  text-align: center;
  font-size: 12px;
  color: #333563;
  font-weight: 300;
}

h7 {
  display: flex;
  align-items: center; /* vertical center */
  font-size: 20px;
  color: #333563;
  padding-left: 1%;
}

.title {
  text-align: left;
  font-weight: 700;
  position: absolute;
  left: 45%;
  transform: translateX(-50%);
  z-index: 10;
  width: 80%;
}

h8 {
  text-align: center;
  font-style: normal;
  font-size: 15px;
  color: #333563;
}

a {
  text-decoration: none;
}

.top-header-left {
  position: relative;
  width: 100%;
  height: 200px;
  background: #333563;
  border-radius: 30px;
  overflow: hidden; /* agar radius rapih */
}

.top-header-right {
  position: absolute;
  top: 0;
  right: 0; /* tempel kanan */
  width: 100%;
  height: 100%;
  background: rgba(51, 53, 99, 0.8);
  border-radius: 30px 30px 30px 30px;
  z-index: 2; /* layer paling atas */
  text-align: center;
}

.foto {
  position: absolute;
  top: 0;
  right: 0;
  width: 700px; /* supaya full kanan kiri */
  height: 100%; /* supaya full atas bawah */
  background-image: url("Survey 1.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  z-index: 1; /* layer ke-2 */
}

.button-produk{
width: 200px;
height: 30px;
background: #EADF4D;
border-radius: 30px;
padding-left: 0px;
margin-left: 2%;


}

.option-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.option-bg-kiri,
.option-bg-tengah,
.option-bg-kanan {
  width: 90%;              /* Biar full tampilan mobile */
  max-width: 360px;        /* Biar tetap rapi di desktop */
  height: 150px;
  border-radius: 30px;
  position: relative;
}

.option-bg-kiri {
  background: #90bf91;
}
.option-bg-tengah {
  background: #b7c2dc;
}
.option-bg-kanan {
  background: #cbb1cf;
}


.circle {
  width: 60px;
  height: 60px;
  background: #eadf4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: absolute;
  bottom: 20px;    /* jarak dari bawah */
  right: 20px;     /* jarak dari kanan */
}

.arrow {
  position: relative;
  width: 38px;
  height: 6px;
  background-color: #333563;
  border-radius: 5px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  right: 0;
  width: 22px;
  height: 6px;
  background-color: #333563;
  border-radius: px;
}

.arrow::before {
  transform: rotate(45deg);
  top: -8px;
}

.arrow::after {
  transform: rotate(-45deg);
  top: 8px;
}


.bottom-border {
  width: 100%;
  height: 50px;
  background: rgba(51, 53, 99, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100%;
  margin-bottom: 0px;
}

.outer-container{
  margin: 20px;
}

.fill-container {
  width: 100%;
  height: 40px;
  background: #ffffff;
  border-radius: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.fill-container input {
  margin-left: 15px;
  width: auto;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333563;
  border-radius: 30px; /* agar input mengikuti bentuk container */
}

.fill-container select {
   font-family: "Reem Kufi";
  font-style: normal;
  width: 40%;
  padding-left: 2%;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  outline: none;
}

option{
    font-size: 10px;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: space-between; /* kiri & kanan */
  align-items: center;
}

.back-button {
  width: 100px;
  height: 35px;
  background: #b34a4c;
  border-radius: 30px;
  display: flex;
  margin-left: 2%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.submit-button {
  width: 100px;
  height: 35px;
  background: #90bf91;
  border-radius: 30px;
  display: flex;
  margin-right: 2%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.button-row a {
  text-decoration: none;
  color: #333563;
}

.box-container {
  width: 80%;
  background: #ffffff;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 1fr; /* kiri = label, kanan = box */
  row-gap: 15px;
  align-items: center;
}

.box-container label {
  font-size: 16px;
  color: #333563;
  font-weight: 600;
}

.box-content {
  width: 100%;
  height: 35px;
  background: #B7C2DC;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 15px; /* agar teks tidak menempel kiri */
  color: #333;
}

.stack {
  position: relative;
  width: 100%;          /* Sama dengan produk-item */
}

.overlay-produk {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;          /* PAKSA SAMA */
  height: 75px;
  background: rgba(234, 223, 77, 0.9);
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}


.desc-produk {
  background: #b7c2dc;
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
  text-align: justify;
  color: #333563;
  font-size: 14px;
}


.produk-item {
  width: 90vw;          /* Semua elemen ikut ini */
  margin: 0 auto;
}

.produk-item img {
  width: 100%;          /* Ikuti .produk-item */
  height: auto;
  border-radius: 30px;
  display: block;
}



.button-download {
  width: 300px;
  height: 50px;
  background: #90BF91;
  border-radius: 30px;

  display: flex;              /* agar teks di dalamnya center */
  justify-content: center;
  align-items: center;

  margin: 0 auto;             /* agar button berada di tengah page */
  margin-top: 30px;
  margin-bottom: 30px;
}

  

 
